<config>
  <!-- Slot Control -->
  
  <cause v='Cancer'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='ee4c2f315f110d50ee4c2f315f110d50'/>
  <team v='234980'/>
  <user v='10zdbbdhbjmm'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
