<config>
	<!-- Slot Control -->
	<cause v="Photosynthesis"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="2a3217ca710ea8912a3217ca710ea891"/>
	<team v=""/>
	<user v="wjfd4xu97pwn"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>
