<config>
  <!-- Slot Control -->
  
  <cause v='Photosynthesis'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='6e03351d50d286d36e03351d50d286d3'/>
  <team v='234980'/>
  <user v='g5vwilvfc0vc'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
