<config>
	<!-- Slot Control -->
	<cause v="Covid-19"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="c8da6a9c115c7daec8da6a9c115c7dae"/>
	<team v="234980"/>
	<user v="g64yu7lhpltu"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>
