<config>
  <!-- Slot Control -->
  
  <cause v='Alzheimers'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='3d0358d70a5131e23d0358d70a5131e2'/>
  <team v='234980'/>
  <user v='8nicxaw7o07e'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
