<config>
	<!-- Slot Control -->
	<cause v="lmrv9b91oi36"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="2b0b5ae366af6b1c2b0b5ae366af6b1c"/>
	<team v=""/>
	<user v="xccamzjl40aa"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>
