<config>
	<!-- Slot Control -->
	<cause v="Cancer"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="edf3b9d3ab34cc27edf3b9d3ab34cc27"/>
	<team v="234980"/>
	<user v="n7p7efa8wjdo"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>