<config>
  <!-- Slot Control -->
  
  <cause v='Photosynthesis'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='22b7a704e4b4067f22b7a704e4b4067f'/>
  <team v=""/>
  <user v='e0ff7oey4zpt'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
