<config>
	<!-- Slot Control -->
	<cause v="Cancer"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="c4004fd6171a51a4c4004fd6171a51a4"/>
	<team v=""/>
	<user v="1uciqj5ykke0"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>
