<config>
  <!-- Slot Control -->
  
  <cause v='COVID_19'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='f430ad46b762f2bff430ad46b762f2bf'/>
  <team v='234980'/>
  <user v='0xxl1m73cl1r'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
