<config>
  <!-- Slot Control -->
  
  <cause v='Covid-19'/>
  <power v='full'/>

  <!-- User Information -->
  <passkey v='5f77422fd60e4ebe5f77422fd60e4ebe'/>
  <team v='234980'/>
  <user v='zbz5f70uolyv'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
